
.container {
    padding: 0px 10px 100px 10px;
    text-align: center;
    background-color: rgb(221, 221, 221);
    margin: 200px 700px 0px 700px;
    border-style: solid;
    border-radius: 20px;
}
.body {
    display: flex;
}
h2 {
    padding-top: 10px;
    font-size: 30px;
}

p {
    
    font-size: 20px;
}
.loginBox input,.passwordBox input,.loginBox input {
    padding: 0px 10px 0px 10px;
    border-style: solid;
    border-radius: 20px;
}
.loginBox input[type="email"],input[type="password"] {
    width: 300px;
    height: 25px;
}
.loginBox input[type="button"] {
    margin: 20px 0px 0px 0px;
    padding: 0px 30px 0px 30px;
    border-style: solid;
    border-radius: 20px;
}
